<% if @festival %>
	<% page_title "#{@festival.year} schedule#{@festival.is_current? ? ' and tickets' : ''}" %>
	<% if @festival.meta_description.present? %>
		<% meta_tag :description, @festival.meta_description.truncate(160).html_safe %>
	<% else %>
		<% meta_tag :description, "Herts Jazz Festival #{@festival.year} schedule#{@festival.is_current? ? ' and tickets' : ''}" %>
	<% end %>
<% else %>
	<% page_title strip_tags(site_setting("Default homepage title")) %>
	<% meta_tag :description, strip_tags(site_setting("Default homepage description")) %>
<% end %>

<div class="container" id="festivals">
  <div class="mobile_show col-12 text-center">
    <p class="mb-1"><small><b>Call the box office:</b> 01279 710200</small></p>
    <p class="mb-4">
      <a class="btn btn-primary" href="mailto:info@hertsjazz.co.uk">Email us at info@hertsjazz.co.uk</a>
    </p>
  </div>

	<% if @festival %>
		<% if @festival.is_current %>
			<%= site_setting("Homepage intro").html_safe %>
			<% if @festival.gigs.any? %>
				<ul class="nav nav-pills nav-justified" id="festival_tabs">
				  <li class="nav-item">
				    <a class="nav-link active single_line" href="#lineup" data-toggle="tab" role="tab">Schedule</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#tickets" data-toggle="tab" role="tab"> Weekend &amp; Day Tickets</a>
				  </li>
				</ul>
			<% end %>
		<% else %>
			<h2 class="main_heading mb-5"><%= @festival.year %> Herts Jazz festival</h2>
		<% end %>

		<div class="tab-content" id="myTabContent">
		  <div class="tab-pane fade show active" id="lineup" role="tabpanel" aria-labelledby="lineup-tab">
				<div class="row">
				<% @festival.reverse_days.each do |day| %>
					<% if day.gig_list.any? %>
							<% day.gig_list.each do |gig| %>
								<div class="col-12 col-lg-3 col-md-4 gig">
									<%= link_to(image_tag(gig.image.url(:small)), gig_path(gig)) if gig.image.present? %>
									<h5><%= link_to gig.act, gig_path(gig) %></h5>
									<h6><%= day.date.strftime("%A %B %e") %> <br /> <%= "#{gig.starts.strftime("%l:%M -")}#{gig.ends.strftime("%l:%M%P")}".html_safe %></h6>
									<%= simple_format gig.description.truncate_words(45) %>
									<div class='buttons'>
										<a href="<%= gig_path(gig) %>" class='btn btn-primary btn-block'>More details ></a>
										<% if gig.is_bookable? %>
											<a href='<%= gig.booking_url %>' class='btn btn-success btn-block' target="_blank">Book now</a>
										<% end %>
									</div>
								</div>
							<% end %>
					<% end %>
				<% end %>
				</div>

				<% if @festival.gallery_url.length > 0 %>
					<p><%= link_to "Click here to see photos of the #{@festival.year} festival", @festival.gallery_url, target: :blank %></p>
				<% end %>

				<% if !@festival.is_current && @festival.films.any? %>
					<p><%= link_to "Click here to see details of the #{@festival.year} film festival", films_path(festival: @festival.id) %></p>
				<% end %>
			</div>


		<% if @festival.is_current %>
			<div class="tab-pane fade show" id="tickets" role="tabpanel" aria-labelledby="tickets-tab">
				<%= render partial: 'tariff', locals: { festival: @festival } %>
			</div>
		<% end %>

	<% else %>
		<section id="default_homepage_content">
			<%= site_setting("Default homepage content").html_safe %>
		</section>
	<% end %>
</div>
